body{
	background: #cccc;
}
.header{
	display: block;
	position: fixed;
	background: black;
	height: 100px;
	width: 100%;
	color: white;
	font-family: fantasy;
	font-size: 72px;
	margit-top: 10px;
	padding-top: 10px;
}
.contanier{
	position: fixed;
	top: 300px;
}