.form__input {
	/* Reset default styles */
	border: none;
	border-radius: 0;
	outline: none;
	padding: 0;

	/* Add own styles */
	border-bottom: 1px solid #ccc;
	padding: 6px 0;
}

.block {
	font-size: 24px;
}
/*For descktop*/
@media screen and (max-width: 14040px) and (min-width: 769px) {
	.block {
		position: relative;
		width: 1440px;
		height: 737px;
		background: #1B2473;
	}
	form{
		position: absolute;
		width: 600px;
		height: 412px;
	}
	.frame{
		position: absolute;
		width: 600px;
		height: 412px;
		left: 412px;
		top: 82px;
		background: #FFFFFF;
		box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
	}
	.login{
		position: absolute;
		width: 115px;
		height: 50px;
		left: 149px;
		top: 30px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		line-height: 50px;
		color: #787878;
	}
	.form__input{
		position: absolute;
		width: 509px;
		height: 49px;
		background: #FFFFFF;
		border: 2px solid #787878;
		box-sizing: border-box;
		border-radius: 10px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		color: #787878;
	}

	.form__input2{
		position: absolute;
		width: 509px;
		height: 49px;
		left: 45px;
		top: 112px;
	}

	.form__input::placeholder {
		position: absolute;
		width: 100%;
		height: 36px;
		left: 15px;
		top: 7px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		color: #CCCCCC;
	}
	.form__input_pass::placeholder {
		position: absolute;
		width: 100%;
		height: 36px;
		left: 15px;
		top: 7px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		/* identical to box height, or 129% */
		color: #CCCCCC;
	}
	.form__value {
		position: absolute;
		width: 259px;
		height: 36px;
		left: 60px;
		top: 119px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		color: #787878;
	}
	.email{
		position: absolute;
		width: 40px;
		height: 16px;
		left: 8px;
		top: -19px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		color: #787878;
	}
	.form__input_pass{
		position: absolute;
		width: 509px;
		height: 49px;
		background: #FFFFFF;
		border: 2px solid #787878;
		box-sizing: border-box;
		border-radius: 10px;
	}
	.form__input_pass2{
		position: absolute;
		width: 509px;
		height: 49px;
		left: 45px;
		top: 193px;
	}
	.checkbox{

		position: absolute;
		width: 24px;
		height: 24px;
		left: -38px;
		top: -10px;
		background: #FFFFFF;
		border: 2px solid #787878;
		box-sizing: border-box;
		border-radius: 7px;
	}
	.form_checkbos_lable{
		position: absolute;
		width: 347px;
		height: 16px;
		left: 79px;
		top: 262px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}
	.button{
		position: absolute;
		width: 180px;
		height: 52px;
		left: 218px;
		top: 334px;
		background: #1A226B;
		border-radius: 10px;
	}
	.form_sub{
		position: absolute;
		width: 145px;
		height: 16px;
		left: 17px;
		top: 18px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 16px;
		color: #FFFFFF;
	}
	.asterisk_login{
		position: absolute;
		width: 7px;
		height: 12px;
		left: 34px;
		top: 119px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		color: #787878;
	}
	.asterisk_pass{
		position: absolute;
		width: 7px;
		height: 12px;
		left: 34px;
		top: 200px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		color: #787878;
	}
	.asterisk_chekbox{
		position: absolute;
		width: 7px;
		height: 12px;
		left: 34px;
		top: 260px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		color: #787878;
	}
	.error_email{
		/*display: none;*/
		position: absolute;
		width: 165px;
		height: 16px;
		left: 46px;
		top: 161px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 16px;
		color: #CB2424;
	}
	.error_email_valid{
		/*display: none;*/
		position: absolute;
		width: 165px;
		height: 16px;
		left: 46px;
		top: 161px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 16px;
		color: #CB2424;
	}
	.error_pass{
		/*display: none;*/
		position: absolute;
		width: 165px;
		height: 16px;
		left: 45px;
		top: 240px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 16px;
		color: #CB2424;
	}
	.error_pass_length{
		/*display: none;*/
		position: absolute;
		width: 265px;
		height: 16px;
		left: 45px;
		top: 240px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 16px;
		color: #CB2424;
	}
	.error_checkbox{
		/*display: none;*/
		position: absolute;
		width: 165px;
		height: 16px;
		left: 45px;
		top: 280px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 16px;
		color: #CB2424;
	}

}

