body{
			position: relative;
		}
		
		.block{
			height: 20%;
			background: #0908A8;
			margin: 2% 0;
			color: #FFFFFF;
			padding-top: 3%;
			-webkit-box-shadow: -14px 13px 5px -8px rgba(34, 60, 80, 0.2);
			-moz-box-shadow: -14px 13px 5px -8px rgba(34, 60, 80, 0.2);
			box-shadow: -14px 13px 5px -8px rgba(34, 60, 80, 0.2);

		}

		.block_static{
			position: static;
		}	
		.block_relative{
			position: relative;
			background: green;
			top: 30%;
			z-index: 1;
		}
		.block_absolute{
			position: absolute;
			background: green;
			width: 100%;
			top: 0;
			left: 0;
		}

		.block_fixed{
			position: fixed;
			background: #4DE9BB;
			height: 10%;
			width: 83%;
			top: 0;
			}	
		.blok_sticky{
			position: sticky;
			background: lime;
			margin-top: 100;
			top: 10%;
		}
		.sidenav {
		    height: 100%;
		    width: 15%;
		    position: fixed;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    background-color: #111;
		    overflow-x: hidden;
		    padding-top: 20px;
		}

		.sidenav a {
		    padding: 6px 8px 6px 16px;
		    text-decoration: none;
		    font-size: 25px;
		    color: #818181;
		    display: block;
		}

		/*.sidenav a:hover {
		    color: #f1f1f1;
		}*/

		.main {
		    margin-left: 15%; 
		    font-size: 28px; 
		    padding: 0px 10px;
		    position: relative;
		}
		h1{
			margin: 0;
			font-size: 100%;
			color: darkred;
		}