.view{
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    background: rgb(176, 167, 167);
}
.frame{
    position: absolute;
    display: block;
    border: 3px;
    height: 300px;
    width: 600px;
    top:15vh;
    left: 25vw;
    background: rgb(100, 114, 221);
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}
.hid{
    text-align: center;
    font-family: roboto;
    font-size: 36PX;
}
.input_email{
    position: absolute;
    left: 160px;
    top:90px;
    width: 300px;

}
.input_pass{
    position: absolute;
    left: 160px;
    top: 130px;
    width: 300px;

}
.form_input{
    position: absolute;
    display: block;
    width: 270px;
    height: 30px;
    box-sizing: border-box;
}
.button{
    position: absolute;
    top: 180px;
    left: 190px;
    height: 50px;
    width: 170px;
    background: rgb(1, 6, 97);
    color: azure;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}
